@font-face {
    font-family: myFirstFont;
    src: url(../font/STC-Regular.ttf);
}
@font-face {
    font-family: boldLine;
    src: url(../font/STC-Bold.ttf);
}
body,
html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'myFirstFont', sans-serif;
}
a,
a:hover,
a:active{
    text-decoration: none !important;
    transition: .5s all !important;
    outline: none !important
}
textarea {
    resize: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #57170D;
    border-radius: 10px
}
.form-wrap input{
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
.form-wrap input[required]:focus {
  border-color: #EB7C27;
}
.form-wrap input:focus {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}
.form-wrap input[required]:focus + label[placeholder]:before {
  color: #EB7C27;
}
.form-wrap input[required]:focus + label[placeholder]:before,
.form-wrap input[required]:valid + label[placeholder]:before {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.form-wrap input[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.form-wrap input[required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
    text-align: right;
}
.form-wrap input[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-wrap select{
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding:0px 15px;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
.form-wrap select[required]:focus {
  border-color: #EB7C27;
}
.form-wrap select:focus {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}
.form-wrap select[required]:focus + label[placeholder]:before {
  color: #EB7C27;
}
.form-wrap select[required]:focus + label[placeholder]:before,
.form-wrap select[required]:valid + label[placeholder]:before {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.form-wrap select[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.form-wrap select[required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
    text-align: right;
}
.form-wrap select[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.form-wrap label span {
    color: #EB7C27;
}



.btnn {
    margin: 20px 0;
    border: none;
    padding: 0px 40px;
    font-size: 36px;
    position: relative;
}
.btnn::before {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.btnn:hover::before {
    background: #EB7C27;
    width: 100%;
}
.news-card__text-wrapper .btnn.rounded i {
    top: 3px;
    position: relative;
}
.btnn.rounded {
    border-radius: 50px;
    height: 45px;
    width: 150px;
    visibility: visible !important;
    border-radius: 50px !important;
}
.btnn.rounded:hover .text-green {
    color: #FFF
}
.btnn.rounded .text-green {
    position: relative;
    display: inherit;
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
    color: #57170D;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
}
.btnn.rounded::before {
    border-radius: 50px;
    width: 50%;
    background: #EB7C27;
}
.btnn.rounded:hover::before {
    background: #EB7C27;
    width: 100%;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    text-align: right;
    width: 100%;
    font-weight: 600;
}
.single-pages-titles h1:before {
    content: " الدعم الفنى";
    position: absolute;
    font-size: 200px;
    right: 0;
    left: 0;
    top: -90px;
    color: #E9E9E9;
    text-shadow: none;
    z-index: -1;
}
.single-pages-titles h1 {
    text-shadow: 2px 2px 0px #E9E9E9;
    font-size: 40px;
    margin-bottom: 10px;
    position: relative;
    color: #000000;
}
.single-pages-titles {
    font-family: boldline;
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    padding: 50px 0px;
}
.single-pages-titles span {
    color: #57170D;
    font-size: 26px;
}

.technical-support {
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: 15%;
    padding: 50px 0px;
    margin-bottom: 30px;
}
.technical-support .card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 45px 30px;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.technical-support:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/background4.png);
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1;
    background-size: 20%;
}
.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #FFF;
    border-radius: 25px
}
.txt-discrption {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 23px;
    margin-bottom: 19px;
}
.wrap-content i {
    font-size: 67px;
    color: #EB7C27;
    margin-bottom: 15px;
        transition: .5s all;

}
.wrap-content {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
 body {
    overflow-x: hidden;
    width: 100%;
}
.end-footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    background: #57170D;
    color: #FFF;
    margin-top: 45px;
    margin-bottom: -20px;
}
.end-footer h1 {
    font-size: 21px;
    margin: 0;
}
.wrap-content a , footer a {
    color: #EB7C27;
    transition: .5s all;
}
.dropzone {
    border-radius: 7px;
}
label + textarea {
    margin-bottom: 15px;
}
.wrap-content:hover a {
    color: #57170D;
}
.wrap-content:hover i {
    color: #57170D;
}
.dropdown-toggle:after {
 
   display: none;
}

div#navbarSupportedContent li {
    list-style: none;
}
#navbarSupportedContent {
    height: 100% !important;
    display: inline-flex !important;
    float: left;
    list-style: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    height: 95px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navbar-brand {
    height: 100%;
    padding: 8px;
}
div#navbarSupportedContent li #navbarDropdown {
    color: #EB7C27;
}
div#navbarSupportedContent li #navbarDropdown:hover {
    color: #57170D;
}
.dropdown-menu.dropdown-menu-right.show {
    padding: 10px;
    font-size: 18px;
    top: 30px;
    border-radius: 8px;
    color: #000;
    border: none;
}
.dropdown-menu.dropdown-menu-right.show:hover {
background-color: #EB7C27;
}
.dropdown-menu.dropdown-menu-right.show a{
    color: #000;  
}
.dropdown-menu.dropdown-menu-right.show:hover  a{
    color: #FFF;
}

#navbarSupportedContent .nav-link {
    padding: 8px 17px !important;
    border-radius: 20px;
    color: #000;
    
}
#navbarSupportedContent .nav-link:hover {
    background-color: #EB7C27;
    color: #FFF;
}
@media(max-width: 991px){
    .single-pages-titles h1:before {
        font-size: 150px;
        top: -20px;
    }
}
@media(max-width: 767px){
    .single-pages-titles h1:before {
        font-size: 100px;
        top: -20px;
    }
}