
@font-face {
    font-family: myFirstFont;
    src: url(../font/STC-Regular.ttf);
}
@font-face {
    font-family: boldLine;
    src: url(../font/STC-Bold.ttf);
}
body,
html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'myFirstFont', sans-serif !important;
}
a,
a:hover,
a:active{
    text-decoration: none !important;
    color: #EB7C27;
    transition: .5s all !important;
    outline: none !important
}
button , input , input:hover , input:focus , botton:hover , button:focus{
    outline: none !important
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    text-align: right;
    width: 100%;
}

html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
    margin-left: 0px;
}

button, 
button:focus,
button:hover{
    outline: none !important;
    
}
html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main {
    margin-right: 0px
}
.sidebar-fixed .app-header+.app-body .sidebar.open {
    right: -200px !important;
}


.sidebar-fixed .app-header+.app-body .sidebar {
    height: calc(100vh - 80px);
    text-align: right;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.brand-minimized.sidebar-minimized .nav-link {
    font-size: 0px !important;
}

.brand-minimized.sidebar-minimized .app-header {
 
    padding-right: 25px;
}
.brand-minimized.sidebar-minimized .navbar-toggler.sidebar-toggler.d-md-down-none {
    margin-right: 30px
}

table.table.table-bordered.table-striped.table-hover.ajaxTable.datatable.datatable-Ticket.dataTable.no-footer , .dataTables_scrollHeadInner {
    width: 100% !important;
}

.logo {
    display: inline-block;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    margin-left: 20px;
}
.app-header {
    height: 80px;
}

button.navbar-toggler.sidebar-toggler.d-md-down-none:hover, button.navbar-toggler.sidebar-toggler.d-md-down-none:focus {
    background: #EB7C27
}
.header-fixed .app-body {
    margin-top: 80px;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size: 20%;
    background-size: contain;
}
.page-link {
    color: #000;
}
.sidebar {
    background: #EB7C27
}
.sidebar .nav-link:hover {
    color: #fff;
    background: #57170D;
}
.sidebar .nav-link.active {
    color: #fff;
    background: #57170D;
}

.sidebar .nav-link.active .nav-icon {
    color: #EB7C27;
}
.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 5px;
    font-size: 17px;
    color: #FFF;
    text-align: center;
}

.card {
    border: 1px solid #EEE;
    border-radius: 14px;
    overflow: hidden;
}

.card-header {
    font-size: 18px;
    background: #EB7C27;
    color: #FFF;
    text-align: right;
}
.table-striped tbody tr:nth-of-type(odd) , .table-striped tbody tr:nth-of-type(odd):hover {
    background-color: rgba(235, 124, 39, .2);
}
.sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: #EB7C27;
}
.sidebar-minimized .sidebar .sidebar-minimizer:hover {
    background: #57170D;
}

.brand-minimized.sidebar-minimized .nav-link {
    padding: 35px 0px;
    position: relative;
    margin-top: -15px;
}
.card.text-white .card-body {
    background: #57170D;
    border-color: #57170D !important;
}
.card.text-white {
    border-color: #FFF !important;
}

table.table.table-bordered.table-striped.table-hover.datatable.datatable-Status.dataTable.no-footer , table#DataTables_Table_0 {
    width: 100% !important;
}
div.dt-buttons {
    position: relative;
    float: left;
    margin: 0px 29px;
}

.btn.btn-xs {
    background: #EB7C27 !important;
    color: #FFF !important;
    border-color: transparent !important;
}
.btn.btn-xs:hover {
    background: #57170D !important;
}

.col-lg-12 > a.btn {
    background: #57170D !important;
    border-color: transparent!important;
}

.col-lg-12 > a.btn:hover {
    background: #EB7C27 !important;
    border-color: transparent!important;
}
.badge-info{
        background: #EB7C27 !important;
    color: #fff;

}
.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #EB7C27;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(225,86,11,.25);
}
input.btn[type="submit"] {
    width: 100px;
    border-radius: 30px;
    border: none;
    background: #EB7C27;
    color: #FFF;
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    margin: auto;
    display: inherit;
}


input.btn[type="submit"]:hover {
        background: #57170D;

}





















@media (min-width: 992px) {
html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed.sidebar-minimized .main {
    margin-right: 50px;
    margin-left: 0px;
}
    .header-fixed .app-body {
    margin-top: 80px;
}
    .sidebar-minimized .sidebar .nav-item:hover>.nav-link {
    background: #57170D;
}

.sidebar-minimized .sidebar .nav-link:hover {
    width: 200px;
    height: 50px !important;
    background: #57170D;
}
    
    .sidebar-minimized .sidebar .nav-item:hover {
    width: 200px;
    overflow: hidden;
}
}

@media (max-width: 991.98px) {
.app-header .navbar-toggler {
    color: #fff;
    margin-right: 10px !important;
}
}