@font-face {
    font-family: myFirstFont;
    src: url(../font/STC-Regular.ttf);
}
@font-face {
    font-family: boldLine;
    src: url(../font/STC-Bold.ttf);
}
body,
html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'myFirstFont', sans-serif !important;
}
a,
a:hover,
a:active{
    text-decoration: none !important;
    color: #fff;
    transition: .5s all !important;
    outline: none !important
}
.card-body.p-4 {
    text-align: center;
}
.card-body.p-4 > img{
    object-fit: contain;
}
.card.mx-4 {
    border-radius: 20px;
}
.input-group.mb-4 {
    text-align: right;
    margin-top: -25px;
}
.form-check.checkbox {
    margin-right: 20px;
    display: inline-block;
}
label.form-check-label {
    padding-right: 0;
}
.form-wrap input{
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  background: #fff;
  resize: none;
  outline: none;
}
.form-wrap input[required]:focus {
  border-color: #EB7C27;
}
.form-wrap input:focus {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}
.form-wrap input[required]:focus + label[placeholder]:before {
  color: #EB7C27;
}
.form-wrap input[required]:focus + label[placeholder]:before,
.form-wrap input[required]:valid + label[placeholder]:before {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translate(0, -2.5em) scale(0.9, 0.9);
          transform: translate(0, -2.5em) scale(0.9, 0.9);
    background-color: #FFF;
}
.form-wrap input[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.form-wrap input[required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: inherit;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
    text-align: right;
    position: absolute;
    top: 53px;
}
.form-wrap input[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.input-group.mb-3.form-wrap {
    display: inline-block;
}
.input-group.mb-3.form-wrap input {
    background: transparent;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
}

.btnn {
    margin: 20px 0;
    border: none;
    padding: 0px 40px;
    font-size: 36px;
    position: relative;
}
.btnn::before {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.btnn:hover::before {
    background: #EB7C27;
    width: 100%;
}
.news-card__text-wrapper .btnn.rounded i {
    top: 3px;
    position: relative;
}
.btnn.rounded {
    border-radius: 50px;
    height: 45px;
    width: 150px;
    visibility: visible !important;
    border-radius: 50px !important;
}
.btnn.rounded:hover .text-green {
    color: #FFF
}
.btnn.rounded .text-green {
    position: relative;
    display: inherit;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    color: #57170D;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
}
.btnn.rounded::before {
    border-radius: 50px;
    width: 50%;
    background: #EB7C27;
}
.btnn.rounded:hover::before {
    background: #EB7C27;
    width: 100%;
}

a.btn.btn-link.px-0 {
    float: left;
    color: #000;
    font-size: 15px;
}
.card-body.p-4 > img {
    object-fit: contain;
    width: 80px;
    height: 120px;
}
p.text-muted {
    margin-bottom: 30px;
}

.app.flex-row.align-items-center{
    background-image: url(../img/background3.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 15%;
    position: relative
}

.app.flex-row.align-items-center:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/background4.png);
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1;
    background-size: 20%;
}
